<div class="jumbotron">
		<div class="container">
			<h1 class="text-center">{{movie.Title}}</h1>
			<h2 class="text-center col-md-4"><span class="label label-primary">{{movie.Year}}</span></h2>
			<h3 class="text-center col-md-4"><span class="label label-primary">Rated {{movie.Rated}}</span></h3>
			<h3 class="text-center col-md-4"><span class="label label-primary">IMDB Rating {{movie.imdbRating}}</span></h3>
		</div>
</div>
<div class="container text-center ">
		<div class="center-block text-center col-md-8 lead">{{movie.Plot}}</div>
</div>
<div class="container">
	<div class="text-center col-md-4">
		<h2>Director</h2>
		<p>{{movie.Director}}</p>
	</div>
	<div class="text-center col-md-4">
		<h2>Actors</h2>
		<p>{{movie.Actors}}</p>
	</div>
	<div class="text-center col-md-4">
		<h2>Language</h2>
		<p>{{movie.Language}}</p>
	</div>
</div>
<div class="container">
	
	<div class="text-center col-md-4">
		<h2>Awards</h2>
		<p>{{movie.Awards}}</p>
	</div>
</div>
